
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<ul class="items">
    <li><a asp-area="" asp-controller="Singleton" asp-action="IncreaseCounter">Increase Counter</a></li>
    <li><a asp-area="" asp-controller="Singleton" asp-action="ShowMessage">Show Message</a></li>
</ul>
