
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<ul class="items">
    <li><a asp-area="" asp-controller="AbstractFactory" asp-action="WoodenToys">WoodenToys Factory</a></li>
    <li><a asp-area="" asp-controller="AbstractFactory" asp-action="TeddyToys">TeddyToys Factory</a></li>
</ul>
